<footer class="footer_home">
	<div>
	<div style="margin-bottom:5px !important; margin-top:5px !important; " />
	<div class="container" style="text-align:left";>
			<a href="/blog/"><i class="fa fa-file-text"></i> Blog</a>
			<span style="float:right;">
    	<a href="https://www.linkedin.com/company/kueai/" target="_blank">
        <i class="fa fa-linkedin fa-lg"></i>
    	</a>
			<a href="https://www.instagram.com/kueaiofficial/" target="_blank">
        <i class="fa fa-instagram fa-lg"></i>
    	</a>
			<a href="https://twitter.com/kueaiofficial/" target="_blank">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
			<a href="https://www.youtube.com/channel/UCQZ9L68tNHuvKiQBR7IXPxQ" target="_blank">
				<i class="fa fa-youtube fa-lg"></i>
			</a>
			<a href="https://www.facebook.com/kueai/" target="_blank">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
			</span>

   	</div>
</div>



</footer>
